@import url(../../variables.css);

.title {
  margin: 0;
}

.inicio {
  background-color: black;
  height: 500px;
  color: white;
  width: var(--width);
  padding: var(--padding);
  margin-top: 10.4rem;
}