@import url(../../variables.css);

.container {
  width: var(--width);
  padding: var(--padding);
  background-color: white;
}

.title {
    font-size: 3rem;
    text-align: start;
    color: var(--morado);
    padding-top: 10.4rem;
    margin-bottom: .8rem;
    margin: 0;
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--responsive-width);
    padding: var(--responsive-padding);
  }
}