.container {
  width: 35rem;
  margin: 1rem 0;
}

.imagen {
  width: 100%;
}

@media screen and (max-width: 1111px) {
  .container {
    width: 30rem;
  }
}

@media screen and (max-width: 425px) {
  .container {
    margin: 0;
  }
}